# TP1 - IBD - Bruno Varella Peixoto
## Matrícula: 2014004158

In [0]:
import io
import sqlite3
import pandas as pd

###Download dos dados

In [0]:
!wget --quiet -P /tmp/ https://raw.githubusercontent.com/BVarella/TP1-IBD/master/despesas.sql

### Carregando os dados

In [0]:
conn = sqlite3.connect('/tmp/despesas.db')
cursor = conn.cursor()

In [4]:
f = io.open('/tmp/despesas.sql', 'r', encoding='utf-8')
sql = f.read()
cursor.executescript(sql)

##Exercícios SQL

Como minha matrícula é 2014**004158**, devo fazer as consultas de número: 1, 2, 5, 3, 6, 9

### 1. Liste todos os códigos e nomes de subfunções da função que possui o maior número de subfunções.

In [5]:
df = pd.read_sql_query("SELECT COD_SUBFUNCAO, NOME_SUBFUNCAO FROM (SELECT * FROM FUNCAO NATURAL JOIN DETALHAMENTO_FUNCAO NATURAL JOIN SUBFUNCAO) WHERE COD_FUNCAO IN (SELECT COD_FUNCAO FROM (SELECT COUNT(COD_FUNCAO) AS NUM_SUBFUNCOES, COD_FUNCAO FROM DETALHAMENTO_FUNCAO GROUP BY(COD_FUNCAO) ORDER BY NUM_SUBFUNCOES DESC LIMIT 1))", conn)
df

   COD_SUBFUNCAO               NOME_SUBFUNCAO
0            125  Normatização e fiscalização
1            126     Tecnologia da informação
2            131           Comunicação social
3            244      Assistência comunitária
4            306       Alimentação e nutrição
5            365            Educação infantil
6            511      Saneamento básico rural

### 2. Liste o valor total de despesas públicas por função (nome) e subfunção (nome), apenas nos casos em que esse valor total excedeu 200 mil reais.

In [6]:
df = pd.read_sql_query("SELECT NOME_FUNCAO, NOME_SUBFUNCAO, VALOR_TOTAL FROM (SELECT NOME_FUNCAO, NOME_SUBFUNCAO, SUM(VALOR_DESPESA) AS VALOR_TOTAL FROM (((FUNCAO NATURAL JOIN DETALHAMENTO_FUNCAO) NATURAL JOIN SUBFUNCAO) NATURAL JOIN DESPESA_PUBLICA) GROUP BY COD_FUNCAO, COD_SUBFUNCAO) WHERE VALOR_TOTAL > 200000", conn)
df

          NOME_FUNCAO           NOME_SUBFUNCAO  VALOR_TOTAL
0  Assistência social  Assistência comunitária    227883.77
1            Educação          Educação básica    334262.06

### 3. Liste todos os nomes dos órgãos e o valor das despesas totais no ano de 2018 para os mesmos, ordenando de forma decrescente pelo valor.

In [7]:
df = pd.read_sql_query("SELECT NOME_ORGAO, SUM(VALOR_DESPESA) AS VALOR_TOTAL FROM (DESPESA_PUBLICA NATURAL JOIN ORGAO) WHERE ANO_DESPESA = 2018 GROUP BY COD_ORGAO, ANO_DESPESA ORDER BY VALOR_TOTAL DESC", conn)
df

                                       NOME_ORGAO  VALOR_TOTAL
0                            Ministério da Defesa    353376.70
1            Ministério do Desenvolvimento Social    278586.35
2   Ministério da Agricultura, Pecuária e Abastec     90836.51
3                          Ministério da Educação     64007.82
4                             Ministério da Saúde     50971.19
5                        Presidência da República         0.00
6   Ministério da Ciência, Tecnologia, Inovações          0.00
7                           Ministério da Fazenda         0.00
8       Ministério da Justiça e Segurança Pública         0.00
9              Ministério das Relações Exteriores         0.00
10  Ministério dos Transportes, Portos e Aviação          0.00
11                    Ministério do Meio Ambiente         0.00
12              Ministério da Integração Nacional         0.00
13                Ministério dos Direitos Humanos         0.00

### 5. Liste o código e nome dos programas de governo que possuiram os 3 maiores valores de despesas totais na função de educação durante o ano de 2018.

In [8]:
df = pd.read_sql_query("SELECT COD_PROGRAMA_GOVERNO, NOME_PROGRAMA_GOVERNO FROM (SELECT NOME_FUNCAO, COD_PROGRAMA_GOVERNO, NOME_PROGRAMA_GOVERNO, SUM(VALOR_DESPESA) AS VALOR_TOTAL FROM (((FUNCAO NATURAL JOIN DETALHAMENTO_FUNCAO) NATURAL JOIN DESPESA_PUBLICA) NATURAL JOIN PROGRAMA_GOVERNO) WHERE NOME_FUNCAO = 'Educação' GROUP BY COD_PROGRAMA_GOVERNO ORDER BY VALOR_TOTAL DESC LIMIT 3)", conn)
df

   COD_PROGRAMA_GOVERNO NOME_PROGRAMA_GOVERNO
0                    11                  ENEM
1                    14              PRONATEC
2                    35          MAIS MEDICOS

### 6. Liste todos os nomes de funções e subfunções das despesas públicas do terceiro trimestre de 2018 e seus respectivos valores totais, apenas para o programa MAIS MEDICOS.

In [9]:
df = pd.read_sql_query("SELECT NOME_FUNCAO, NOME_SUBFUNCAO, SUM(VALOR_DESPESA) AS VALOR_TOTAL FROM (SELECT * FROM ((((FUNCAO NATURAL JOIN DETALHAMENTO_FUNCAO) NATURAL JOIN SUBFUNCAO) NATURAL JOIN DESPESA_PUBLICA) NATURAL JOIN PROGRAMA_GOVERNO) WHERE NOME_PROGRAMA_GOVERNO = 'MAIS MEDICOS' AND (MES_DESPESA = 7 OR MES_DESPESA = 8 OR MES_DESPESA = 9)) GROUP BY COD_FUNCAO, COD_SUBFUNCAO", conn)
df

       NOME_FUNCAO                         NOME_SUBFUNCAO  VALOR_TOTAL
0  Defesa nacional                    Administração geral            0
1            Saúde                         Atenção básica        11000
2         Educação  Assistência hospitalar e ambulatorial            0
3         Educação                        Ensino superior         2400

### 9. Liste todas as despesas públicas (código da despesa, mês e ano da despesa, modalidade, valor) em que o órgão responsável é aquele que possui o maior número de órgãos subordinados.

In [10]:
df = pd.read_sql_query("SELECT COD_DESPESA, MES_DESPESA, ANO_DESPESA, MODALIDADE_DESPESA, VALOR_DESPESA FROM DESPESA_PUBLICA WHERE COD_ORGAO IN(SELECT COD_ORGAO FROM ORGAO ORDER BY QTD_ORGAOS_SUBORDINADOS DESC LIMIT 1)", conn)
df

     COD_DESPESA  ...  VALOR_DESPESA
0            196  ...            0.0
1            197  ...            0.0
2            198  ...            0.0
3            199  ...            0.0
4            200  ...            0.0
5            201  ...            0.0
6            202  ...            0.0
7            203  ...            0.0
8            204  ...            0.0
9            205  ...            0.0
10           206  ...            0.0
11           207  ...            0.0
12           208  ...            0.0
13           209  ...            0.0
14           210  ...            0.0
15           211  ...            0.0
16           212  ...            0.0
17           213  ...            0.0
18           214  ...            0.0
19           215  ...            0.0
20           216  ...            0.0
21           217  ...            0.0
22           218  ...            0.0
23           219  ...            0.0
24           220  ...            0.0
25           221  ...            0.0
26           222  ...            0.0
27           223  ...            0.0
28           224  ...            0.0
29           225  ...            0.0
..           ...  ...            ...
264          460  ...            0.0
265          461  ...            0.0
266          462  ...            0.0
267          463  ...            0.0
268          464  ...            0.0
269          465  ...            0.0
270          466  ...            0.0
271          467  ...            0.0
272          468  ...            0.0
273          469  ...            0.0
274          470  ...            0.0
275          471  ...            0.0
276          472  ...            0.0
277          473  ...            0.0
278          474  ...            0.0
279          475  ...            0.0
280          476  ...            0.0
281          477  ...            0.0
282          478  ...            0.0
283          479  ...            0.0
284          480  ...            0.0
285          481  ...            0.0
286          482  ...            0.0
287          483  ...            0.0
288          484  ...            0.0
289          485  ...         2400.0
290          486  ...            0.0
291          487  ...            0.0
292          488  ...            0.0
293          489  ...            0.0

[294 rows x 5 columns]

##Exercícios Álgebra Relacional

### 12 -

In [11]:
df = pd.read_sql_query("SELECT NOME_FUNCAO, NOME_SUBFUNCAO FROM ((FUNCAO NATURAL JOIN DETALHAMENTO_FUNCAO) NATURAL JOIN SUBFUNCAO)", conn)
df

              NOME_FUNCAO                                    NOME_SUBFUNCAO
0     Essencial à justiça                                Comunicação social
1         Defesa nacional                               Administração geral
2         Defesa nacional                                  Defesa terrestre
3       Segurança pública                               Administração geral
4       Segurança pública                                      Policiamento
5       Segurança pública                                      Defesa civil
6       Segurança pública                         Informação e inteligência
7      Assistência social                       Normatização e fiscalização
8      Assistência social                          Tecnologia da informação
9      Assistência social                                Comunicação social
10     Assistência social                           Assistência comunitária
11     Assistência social                            Alimentação e nutrição
12     Assistência social                                 Educação infantil
13     Assistência social                           Saneamento básico rural
14                  Saúde                      Formação de recursos humanos
15                  Saúde                                    Atenção básica
16                  Saúde             Assistência hospitalar e ambulatorial
17               Trabalho                               Fomento ao trabalho
18               Educação             Assistência hospitalar e ambulatorial
19               Educação                               Ensino profissional
20               Educação                                   Ensino superior
21               Educação                                   Educação básica
22               Educação             Transferências para a educação básica
23  Direitos da cidadania            Assistência ao portador de deficiência
24  Direitos da cidadania                    Custódia e reintegração social
25  Direitos da cidadania         Direitos individuais, coletivos e difusos
26              Urbanismo                           Assistência comunitária
27       Gestão ambiental               Preservação e conservação ambiental
28       Gestão ambiental                                 Recursos hídricos
29   Ciência e Tecnologia                        Desenvolvimento científico
30   Ciência e Tecnologia          Desenvolvimento tecnológico e engenharia
31            Agricultura  Difusão do conhecimento científico e tecnológico
32            Agricultura                 Promoção da produção agropecuária
33    Organização agrária                       Normatização e fiscalização
34    Organização agrária                           Ordenamento territorial
35    Organização agrária                                    Extensão rural
36    Organização agrária                                   Reforma agrária
37              Indústria                                Promoção comercial
38             Transporte                               Administração geral
39     Encargos especiais                         Outros encargos especiais

### 13 -

In [12]:
df = pd.read_sql_query("SELECT MODALIDADE_DESPESA, VALOR_DESPESA, NOME_PROGRAMA_GOVERNO FROM (PROGRAMA_GOVERNO NATURAL JOIN DESPESA_PUBLICA) WHERE MODALIDADE_DESPESA = 'Reserva de Contingência'", conn)
df

          MODALIDADE_DESPESA  VALOR_DESPESA     NOME_PROGRAMA_GOVERNO
0    Reserva de Contingência            0.0        BRASIL SEM MISERIA
1    Reserva de Contingência            0.0        BRASIL SEM MISERIA
2    Reserva de Contingência            0.0        BRASIL SEM MISERIA
3    Reserva de Contingência            0.0        BRASIL SEM MISERIA
4    Reserva de Contingência            0.0        BRASIL SEM MISERIA
5    Reserva de Contingência            0.0        BRASIL SEM MISERIA
6    Reserva de Contingência            0.0        BRASIL SEM MISERIA
7    Reserva de Contingência            0.0        BRASIL SEM MISERIA
8    Reserva de Contingência            0.0     VIOLENCIA NO TRANSITO
9    Reserva de Contingência            0.0     VIOLENCIA NO TRANSITO
10   Reserva de Contingência            0.0  TERRITORIOS DA CIDADANIA
11   Reserva de Contingência            0.0  TERRITORIOS DA CIDADANIA
12   Reserva de Contingência            0.0  TERRITORIOS DA CIDADANIA
13   Reserva de Contingência            0.0  TERRITORIOS DA CIDADANIA
14   Reserva de Contingência            0.0  TERRITORIOS DA CIDADANIA
15   Reserva de Contingência            0.0  TERRITORIOS DA CIDADANIA
16   Reserva de Contingência            0.0  TERRITORIOS DA CIDADANIA
17   Reserva de Contingência            0.0  TERRITORIOS DA CIDADANIA
18   Reserva de Contingência            0.0  TERRITORIOS DA CIDADANIA
19   Reserva de Contingência            0.0  TERRITORIOS DA CIDADANIA
20   Reserva de Contingência            0.0        BRASIL SEM MISERIA
21   Reserva de Contingência         8215.7        BRASIL SEM MISERIA
22   Reserva de Contingência            0.0        BRASIL SEM MISERIA
23   Reserva de Contingência            0.0        BRASIL SEM MISERIA
24   Reserva de Contingência            0.0        BRASIL SEM MISERIA
25   Reserva de Contingência            0.0        BRASIL SEM MISERIA
26   Reserva de Contingência            0.0        BRASIL SEM MISERIA
27   Reserva de Contingência            0.0        BRASIL SEM MISERIA
28   Reserva de Contingência            0.0        BRASIL SEM MISERIA
29   Reserva de Contingência            0.0        BRASIL SEM MISERIA
..                       ...            ...                       ...
646  Reserva de Contingência            0.0        BRASIL SEM MISERIA
647  Reserva de Contingência            0.0        BRASIL SEM MISERIA
648  Reserva de Contingência            0.0        BRASIL SEM MISERIA
649  Reserva de Contingência            0.0        BRASIL SEM MISERIA
650  Reserva de Contingência            0.0        BRASIL SEM MISERIA
651  Reserva de Contingência            0.0        BRASIL SEM MISERIA
652  Reserva de Contingência            0.0        BRASIL SEM MISERIA
653  Reserva de Contingência            0.0        BRASIL SEM MISERIA
654  Reserva de Contingência            0.0        BRASIL SEM MISERIA
655  Reserva de Contingência            0.0        BRASIL SEM MISERIA
656  Reserva de Contingência            0.0        BRASIL SEM MISERIA
657  Reserva de Contingência            0.0        BRASIL SEM MISERIA
658  Reserva de Contingência            0.0        BRASIL SEM MISERIA
659  Reserva de Contingência            0.0        BRASIL SEM MISERIA
660  Reserva de Contingência            0.0        BRASIL SEM MISERIA
661  Reserva de Contingência            0.0        BRASIL SEM MISERIA
662  Reserva de Contingência            0.0        BRASIL SEM MISERIA
663  Reserva de Contingência            0.0        BRASIL SEM MISERIA
664  Reserva de Contingência            0.0        BRASIL SEM MISERIA
665  Reserva de Contingência            0.0        BRASIL SEM MISERIA
666  Reserva de Contingência            0.0        BRASIL SEM MISERIA
667  Reserva de Contingência            0.0        BRASIL SEM MISERIA
668  Reserva de Contingência            0.0        BRASIL SEM MISERIA
669  Reserva de Contingência            0.0        BRASIL SEM MISERIA
670  Reserva de Contingência            0.0        BRASIL SEM MISERIA
671  Reserva de Contingência            0.0        BRASIL SEM MISERIA
672  Reserva de Contingência            0.0        BRASIL SEM MISERIA
673  Reserva de Contingência            0.0        BRASIL SEM MISERIA
674  Reserva de Contingência            0.0        BRASIL SEM MISERIA
675  Reserva de Contingência            0.0        BRASIL SEM MISERIA

[676 rows x 3 columns]

### 14 -

In [13]:
df = pd.read_sql_query("SELECT VALOR_DESPESA, NOME_ORGAO FROM (DESPESA_PUBLICA NATURAL JOIN ORGAO) WHERE NOME_ORGAO = 'Ministério da Fazenda'", conn)
df

    VALOR_DESPESA             NOME_ORGAO
0               0  Ministério da Fazenda
1               0  Ministério da Fazenda
2               0  Ministério da Fazenda
3               0  Ministério da Fazenda
4               0  Ministério da Fazenda
5               0  Ministério da Fazenda
6               0  Ministério da Fazenda
7               0  Ministério da Fazenda
8               0  Ministério da Fazenda
9               0  Ministério da Fazenda
10              0  Ministério da Fazenda
11              0  Ministério da Fazenda
12              0  Ministério da Fazenda

### 15 -

In [14]:
df = pd.read_sql_query("SELECT NOME_PROGRAMA_GOVERNO, VALOR_DESPESA FROM ((DESPESA_PUBLICA NATURAL JOIN ORGAO) NATURAL JOIN PROGRAMA_GOVERNO) WHERE NOME_ORGAO = 'Ministério da Saúde'", conn)
df

    NOME_PROGRAMA_GOVERNO  VALOR_DESPESA
0        VIVER SEM LIMITE            0.0
1        VIVER SEM LIMITE            0.0
2        VIVER SEM LIMITE            0.0
3        VIVER SEM LIMITE            0.0
4        VIVER SEM LIMITE            0.0
5        VIVER SEM LIMITE            0.0
6        VIVER SEM LIMITE            0.0
7        VIVER SEM LIMITE            0.0
8        VIVER SEM LIMITE            0.0
9        VIVER SEM LIMITE            0.0
10       VIVER SEM LIMITE            0.0
11       VIVER SEM LIMITE            0.0
12       VIVER SEM LIMITE            0.0
13       VIVER SEM LIMITE            0.0
14       VIVER SEM LIMITE            0.0
15       VIVER SEM LIMITE            0.0
16       VIVER SEM LIMITE            0.0
17       VIVER SEM LIMITE            0.0
18       VIVER SEM LIMITE            0.0
19       VIVER SEM LIMITE            0.0
20       VIVER SEM LIMITE            0.0
21       VIVER SEM LIMITE            0.0
22       VIVER SEM LIMITE            0.0
23       VIVER SEM LIMITE            0.0
24       VIVER SEM LIMITE            0.0
25       VIVER SEM LIMITE            0.0
26       VIVER SEM LIMITE            0.0
27       VIVER SEM LIMITE            0.0
28       VIVER SEM LIMITE            0.0
29       VIVER SEM LIMITE            0.0
..                    ...            ...
189          MAIS MEDICOS            0.0
190          MAIS MEDICOS            0.0
191          MAIS MEDICOS            0.0
192          MAIS MEDICOS            0.0
193          MAIS MEDICOS            0.0
194          MAIS MEDICOS            0.0
195          MAIS MEDICOS            0.0
196          MAIS MEDICOS            0.0
197          MAIS MEDICOS            0.0
198          MAIS MEDICOS            0.0
199          MAIS MEDICOS            0.0
200          MAIS MEDICOS            0.0
201          MAIS MEDICOS            0.0
202          MAIS MEDICOS            0.0
203          MAIS MEDICOS        11000.0
204          MAIS MEDICOS            0.0
205          MAIS MEDICOS            0.0
206          MAIS MEDICOS         1000.0
207          MAIS MEDICOS            0.0
208          MAIS MEDICOS            0.0
209          MAIS MEDICOS            0.0
210          MAIS MEDICOS            0.0
211          MAIS MEDICOS            0.0
212          MAIS MEDICOS            0.0
213          MAIS MEDICOS            0.0
214          MAIS MEDICOS            0.0
215          MAIS MEDICOS            0.0
216          MAIS MEDICOS            0.0
217          MAIS MEDICOS            0.0
218          MAIS MEDICOS            0.0

[219 rows x 2 columns]